@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #3b82f6;
  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;
  --color-error: #ef4444;
  --color-success: #10b981;
}
