@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;
  --color-error: #ef4444;
  --color-success: #10b981;

  --animate-fade-in-up: fade-in-up 0.3s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
